
@using (Ajax.BeginForm(
    "_SelectData",
        new AjaxOptions
        {
            UpdateTargetId = "data",
            LoadingElementId = "loading",
            LoadingElementDuration = 1000
        }
        ))

{
    <style>
        .price {
            margin-left:40px;
            
        }
    </style>
    <div class="price">
        <p>
            Початок назви<br />
            <input class="form-control" type="text" name="SelBrand" />
        </p>
        <p  >
            Тип корпусу<br />
        
            @Html.DropDownList("SelhousingTypeName", ViewBag.SelhousingTypesName as SelectList,  htmlAttributes: new { @class = "form-control" })
        </p><br />
        <p>
            Ціна<br />

            від <input class="form-control" type="text" name="PriceFrom" /><br />
            до <input class="form-control" type="text" name="PriceTo" />


        </p>
        <p>
            <input class="form-control" type="submit" value="Відібрати" style="background-color: #e0e0e0; color: black;  background-position: 0 -15px; " />
        </p>
    </div>
   
    <div id="loading" class="load" style="display:none">
        <p>Завантаження даних...</p>
    </div>
}
